[user]
	name = Razvan Neacsu
{{- if eq .configType "personal" }} 
	email = razvan.neacsu5@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII4Yl6TrAZC9K9ykt0U0cFTVNVQALnawbE0QJOHqBhTA
{{- else if eq .configType "work" }}
	email = razvan.neacsu@zitec.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL3UG2MznCLBsIWThQ8vTU82qXbnTQ4SzL+YYBHdu28i
{{- end }}
[pull]
	rebase = true
[core]
	autocrlf = input
[push]
	default = current
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
