# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Init zpack
[[ -d "${HOME}/.zpack" ]] || git clone https://github.com/rneacsu5/zpack.git "${HOME}/.zpack"
source "${HOME}/.zpack/zpack.zsh"

# ohmyzsh libraries
zpack bundle omz-lib

# ohmyzsh plugins
{{- if eq .chezmoi.os "darwin" }}
zpack omz plugins/brew
{{- end }}
zpack omz plugins/git
zpack omz plugins/sudo
zpack omz plugins/docker
zpack omz plugins/docker-compose
zpack omz plugins/kubectl
zpack omz plugins/helm
zpack omz plugins/golang
zpack omz plugins/azure
zpack omz plugins/gcloud
zpack omz plugins/gpg-agent
zpack omz plugins/terraform
zpack omz plugins/virtualenvwrapper
zpack omz plugins/dotenv

# Programs
zpack bundle bat
zpack bundle exa
zpack bundle fzf --preview --tab
zpack bundle chezmoi
zpack bundle zoxide --cmd cd
zpack bundle delta
zpack bundle lazygit
zpack release sxyazi/yazi

{{- if eq .configType "work" }}
zpack bundle plow
zpack release vmware-tanzu/velero         --completion 'velero completion zsh > _velero'
zpack release Azure/kubelogin             --completion 'kubelogin completion zsh > _kubelogin'
zpack release doitintl/kube-no-trouble                                                                --name 'kubent'
zpack release wagoodman/dive
zpack release fluxcd/flux2                --completion 'flux completion zsh > _flux'                  --name 'flux'
zpack release terrastruct/d2
zpack release helm/chart-testing          --completion 'ct completion zsh > _ct'                      --name 'ct'
zpack release stackrox/kube-linter        --completion 'kube-linter completion zsh > _kube-linter'
{{- end }}

[[ $+commands[kubectl] == 1 ]] && zpack snippet --bin https://github.com/kvaps/kubectl-node-shell/raw/master/kubectl-node_shell
[[ $+commands[boundary] == 1 ]] && complete -o nospace -C boundary boundary

# zsh-users
zpack bundle zsh-users

# Theme
zpack bundle powerlevel10k

zpack apply

# Other configs
mysql_client_path="/opt/homebrew/opt/mysql-client/bin"
[[ -d $mysql_client_path ]] && path+=($mysql_client_path)
gobin_path=${GOBIN:-${GOPATH:-$HOME/go}/bin}
[[ -d $gobin_path ]] && path+=($gobin_path)
export CLOUDSDK_PYTHON_SITEPACKAGES=1
ulimit -n 2048
